<div class="tab{{#if tab.active}} active{{/if}} sprite-shadows-config scrollable" {{#unless omitGroup}}data-group="{{#if v1}}main{{else}}sheet{{/if}}"{{/unless}} data-tab="shadows" data-application-part="shadows">
  {{#with shadows}}
    {{> "templates/generic/tab-navigation.hbs" }}
    {{> "modules/sprite-shadows/templates/config/basics.hbs" tab=tabs.basics }}
    {{> "modules/sprite-shadows/templates/config/blobSettings.hbs" tab=tabs.blob }}
    {{> "modules/sprite-shadows/templates/config/stencilSettings.hbs" tab=tabs.stencil}}
  {{/with}}
</div>